<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="utf-8"> <!-- encoder 可以指定字符集，对于中文输出有意义 -->
            <!-- %.-1level 只显示信息级别的首字母,%-5level 左对齐显示信息级别全称 -->
            <!-- 如需自定义关键字，用 %mdc{键名} 表示,程序中用MDC.put("键名","键值")设置，可动态设置 [%logger:%line]-->
            <Pattern>[%date{yyyy-MM-dd HH:mm:ss}] [%-5level] %logger %line --%mdc{client} %msg%n</Pattern>
        </encoder>
    </appender>

    <!-- error 级别日志文件 -->
    <appender name="error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${logger.logRoot}/golpe-erp-error.log</File>
        <encoder>
            <Pattern>[%date] [%-5level] %c{40} %line --%mdc{client} [%X{traceLogId}] %msg%n</Pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logger.logRoot}/golpe-erp-error-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>512MB</maxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!-- 普通日志文件,排除错误日志 -->
    <appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${logger.logRoot}/golpe-erp.log</File>
        <encoder>
            <Pattern>[%date] [%-5level] %c{40} %line --%mdc{client} [%X{traceLogId}] %msg%n</Pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logger.logRoot}/golpe-erp-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>512MB</maxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
    </appender>

    <!-- 管控台日志打印，发布生产需注释 -->
    <!--<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
        <!--<encoder charset="utf-8"> &lt;!&ndash; encoder 可以指定字符集，对于中文输出有意义 &ndash;&gt;-->
            <!--&lt;!&ndash; %.-1level 只显示信息级别的首字母,%-5level 左对齐显示信息级别全称 &ndash;&gt;-->
            <!--&lt;!&ndash; 如需自定义关键字，用 %mdc{键名} 表示,程序中用MDC.put("键名","键值")设置，可动态设置 [%logger:%line]&ndash;&gt;-->
            <!--<Pattern>[%date{yyyy-MM-dd HH:mm:ss}] [%-5level] %c{40} %line &#45;&#45;%mdc{client} [%X{traceLogId}] %msg%n</Pattern>-->
        <!--</encoder>-->
    <!--</appender>-->

    <!-- 外部jar包 日志级别设置 -->
    <logger level="INFO" name="com.mchange" />
    <logger level="INFO" name="com.ibatis" />
    <logger level="INFO" name="org.mybatis" />
    <logger level="INFO" name="org.springframework"/>
    <logger level="INFO" name="java.sql"/>
    <logger level="INFO" name="org.apache"/>
    <logger level="INFO" name="com.alibaba"/>
    <logger level="INFO" name="org.apache.zookeeper"/>
    <logger level="INFO" name="org.I0Itec"/>
    <logger level="INFO" name="org.dozer"/>
    <logger level="OFF" name="org.jdbcdslog"/>
    <logger level="INFO" name="java.sql.SQLException"/>
    <logger level="INFO" name="org.jdbcdslog.StatementLogger"/>
    <logger level="OFF" name="org.springframework.dao.CannotAcquireLockException"/>

    <!-- 输出到文件 -->
    <logger level="${logger.logLevel}" name="com.golpesoft" additivity="false">
        <!-- 去除错误日志 -->/
        <appender-ref ref="logfile"/>
        <!-- 只打印错误日志 -->
        <appender-ref ref="error"/>
    </logger>

    <!-- 输出到控制台和文件，可定义更多的 Appender-->
    <!---->
    <root level="INFO" name="com.golpesoft">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>